.entrada-paquete {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  position: relative;
  background-color: #f5f5f5;
}

.entrada-paquete .nav-bar {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 20px 276px;
  padding: 35px 80px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
  background-color: #000000;
}

.entrada-paquete .dialogo {
  position: relative;
  width: 139px;
}

.entrada-paquete .frame {
  display: flex;
  flex-wrap: wrap;
  width: 279px;
  align-items: center;
  gap: 10px 10px;
  padding: 10px;
  position: relative;
  border-radius: 20px;
  border: 1px solid;
  border-color: #5a5a5a;
}

.entrada-paquete .img {
  position: relative;
  width: 24px;
  height: 24px;
}

.entrada-paquete .buscar {
  position: relative;
  flex: 1;
  flex-grow: 1;
  height: 17px;
  background-color: transparent;
  font-family: "Regesto Grotesk-Bold", Helvetica;
  font-weight: 700;
  color: #5a5a5a;
  font-size: 14px;
  letter-spacing: 0;
  line-height: normal;
  border: 0;
  padding: 0;
}

.entrada-paquete .buscar::placeholder {
  color: #5a5a5a99;
}

.entrada-paquete .frame-2 {
  position: relative;
  flex: 1;
  min-width: 300px;
  max-width: 300px;
  flex-grow: 1;
}

.entrada-paquete .body {
  display: flex;
  flex-direction: column;
  max-width: 1440px;
  align-items: center;
  gap: 40px;
  padding: 0px 50px;
  position: relative;
  width: 100%;
  flex: 0 0 auto;
}

.entrada-paquete .div {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 40px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.entrada-paquete .frame-3 {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.entrada-paquete .div-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.entrada-paquete .text-wrapper {
  position: relative;
  align-self: stretch;
  margin-top: -1.00px;
  font-family: "Regesto Grotesk-Bold", Helvetica;
  font-weight: 700;
  color: #000000;
  font-size: 50px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.entrada-paquete .billete-ok {
  position: relative;
  align-self: stretch;
  width: 100%;
  aspect-ratio: 1.78;
  object-fit: cover;
}

.entrada-paquete .frame-4 {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 40px 40px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.entrada-paquete .text-wrapper-2 {
  position: relative;
  flex: 1;
  margin-top: -1.00px;
  font-family: "Regesto Grotesk-Bold", Helvetica;
  font-weight: 700;
  color: #86a993;
  font-size: 20px;
  letter-spacing: 0;
  line-height: normal;
}

.entrada-paquete .frame-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.entrada-paquete .frame-5 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.entrada-paquete .frame-6 {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  gap: 10px 10px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.entrada-paquete .p {
  position: relative;
  flex: 1;
  margin-top: -1.00px;
  font-family: "Regesto Grotesk-Bold", Helvetica;
  font-weight: 700;
  color: #000000;
  font-size: 25px;
  letter-spacing: 0;
  line-height: normal;
}

.entrada-paquete .frame-7 {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 60px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.entrada-paquete .frame-8 {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 36px 36px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.entrada-paquete .frame-9 {
  display: flex;
  flex-direction: column;
  min-width: 340px;
  align-items: flex-start;
  gap: 30px;
  position: relative;
  flex: 1;
  flex-grow: 1;
}

.entrada-paquete .frame-10 {
  display: flex;
  flex-direction: column;
  min-width: 340px;
  align-items: flex-start;
  gap: 20px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.entrada-paquete .text-wrapper-3 {
  position: relative;
  align-self: stretch;
  margin-top: -1.00px;
  font-family: "Regesto Grotesk-Bold", Helvetica;
  font-weight: 700;
  color: #000000;
  font-size: 50px;
  letter-spacing: 0;
  line-height: normal;
}

.entrada-paquete .frame-11 {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: center;
  gap: 30px 30px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.entrada-paquete .text-wrapper-4 {
  position: relative;
  flex: 1;
  margin-top: -1.00px;
  font-family: "Regesto Grotesk-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 14px;
  letter-spacing: 0.14px;
  line-height: normal;
}

.entrada-paquete .billete {
  position: relative;
  flex: 1;
  min-width: 200px;
  flex-grow: 1;
  min-height: 112.5px;
  aspect-ratio: 1.78;
  object-fit: cover;
}

.entrada-paquete .frame-12 {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 131px 131px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.entrada-paquete .billete-2 {
  position: relative;
  width: 340px;
  height: 191.25px;
  aspect-ratio: 1.78;
  object-fit: cover;
}

.entrada-paquete .frame-13 {
  display: flex;
  flex-direction: column;
  min-width: 390px;
  align-items: flex-start;
  gap: 25px;
  padding: 0px 20px;
  position: relative;
  flex: 1;
  flex-grow: 1;
}

.entrada-paquete .text-wrapper-5 {
  position: relative;
  align-self: stretch;
  font-family: "Regesto Grotesk-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 14px;
  letter-spacing: 0.14px;
  line-height: normal;
}

.entrada-paquete .frame-14 {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 51px 131px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.entrada-paquete .frame-15 {
  display: flex;
  flex-direction: column;
  min-width: 390px;
  align-items: flex-start;
  gap: 25px;
  padding: 0px 20px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.entrada-paquete .text-wrapper-6 {
  position: relative;
  align-self: stretch;
  margin-top: -1.00px;
  font-family: "Regesto Grotesk-Bold", Helvetica;
  font-weight: 700;
  color: #000000;
  font-size: 40px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.entrada-paquete .text-wrapper-7 {
  position: relative;
  align-self: stretch;
  font-family: "Regesto Grotesk-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 14px;
  text-align: center;
  letter-spacing: 0.14px;
  line-height: normal;
}

.entrada-paquete .frame-16 {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 105px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.entrada-paquete .frame-17 {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 80px;
  padding: 0px 30px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.entrada-paquete .boton {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 10px;
  position: relative;
  flex: 0 0 auto;
  background-color: #000000;
  border-radius: 10px;
}

.entrada-paquete .leer-art-culo {
  position: relative;
  width: fit-content;
  margin-top: -1.00px;
  font-family: "Regesto Grotesk-Bold", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 15px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.entrada-paquete .comando {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 40px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.entrada-paquete .frame-18 {
  display: inline-flex;
  align-items: center;
  justify-content: flex-end;
  gap: 10px;
  padding: 10px;
  position: relative;
  flex: 0 0 auto;
  transition: all 0.2s ease;
}

.entrada-paquete .frame-18:hover {
  transform: scale(1.1);
}

.entrada-paquete .text-wrapper-8 {
  position: relative;
  width: fit-content;
  font-family: "Regesto Grotesk-Regular", Helvetica;
  font-weight: 400;
  color: #96134b;
  font-size: 14px;
  letter-spacing: 0;
  line-height: normal;
}

.entrada-paquete .frame-19 {
  display: inline-flex;
  align-items: center;
  gap: 10px;
  padding: 10px;
  position: relative;
  flex: 0 0 auto;
  transition: all 0.2s ease;
}

.entrada-paquete .frame-19:hover {
  transform: scale(1.1);
}

.entrada-paquete .text-wrapper-9 {
  position: relative;
  width: fit-content;
  font-family: "Regesto Grotesk-Regular", Helvetica;
  font-weight: 400;
  color: #96134b;
  font-size: 14px;
  text-align: right;
  letter-spacing: 0;
  line-height: normal;
}

.entrada-paquete .frame-20 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 15px;
  padding: 80px 0px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
  border-radius: 20px;
  background-image: url(https://c.animaapp.com/udhLWezT/img/frame-46.svg);
  background-size: cover;
  background-position: 50% 50%;
}

.entrada-paquete .frame-21 {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.entrada-paquete .text-wrapper-10 {
  position: relative;
  align-self: stretch;
  margin-top: -1.00px;
  font-family: "Regesto Grotesk-Bold", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 45px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.entrada-paquete .text-wrapper-11 {
  position: relative;
  align-self: stretch;
  font-family: "Regesto Grotesk-Bold", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 20px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.entrada-paquete .frame-22 {
  display: flex;
  flex-wrap: wrap;
  max-width: 390px;
  align-items: center;
  justify-content: center;
  gap: 10px 10px;
  padding: 0px 20px;
  position: relative;
  width: 100%;
  flex: 0 0 auto;
}

.entrada-paquete .frame-23 {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 10px 20px;
  position: relative;
  flex: 1;
  flex-grow: 1;
  background-color: #ffffff;
  border-radius: 10px;
  border: 1px solid;
  border-color: #d9d9d9;
}

.entrada-paquete .text-wrapper-12 {
  position: relative;
  width: fit-content;
  margin-top: -1.00px;
  font-family: "Regesto Grotesk-Bold", Helvetica;
  font-weight: 700;
  color: #5a5a5a;
  font-size: 14px;
  letter-spacing: 0;
  line-height: normal;
}

.entrada-paquete .frame-24 {
  display: flex;
  width: 105px;
  align-items: center;
  gap: 10px;
  padding: 10px 20px;
  position: relative;
  background-color: #000000;
  border-radius: 10px;
}

.entrada-paquete .text-wrapper-13 {
  position: relative;
  width: fit-content;
  margin-top: -1.00px;
  font-family: "Regesto Grotesk-Bold", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 14px;
  letter-spacing: 0;
  line-height: normal;
}

.entrada-paquete .footer {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  gap: 20px 0px;
  padding: 40px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
  background-color: #ffffff;
}

.entrada-paquete .recurso {
  position: relative;
  max-width: 290px;
  width: 290px;
  max-height: 59.76px;
  height: 59.76px;
  aspect-ratio: 4.85;
  object-fit: cover;
}

.entrada-paquete .text-wrapper-14 {
  position: relative;
  width: fit-content;
  font-family: "Regesto Grotesk-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 14px;
  letter-spacing: 0;
  line-height: normal;
}
