.entrada-tala {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  position: relative;
  background-color: #f5f5f5;
}

.entrada-tala .nav-bar {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 20px 276px;
  padding: 35px 80px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
  background-color: #000000;
}

.entrada-tala .dialogo {
  display: flex;
  flex-direction: column;
  width: 139px;
  align-items: center;
  gap: 10px;
  position: relative;
}

.entrada-tala .logo-dialogo {
  position: relative;
  width: 139px;
  height: 34px;
}

.entrada-tala .frame {
  flex-wrap: wrap;
  width: 279px;
  align-items: center;
  gap: 10px 10px;
  padding: 10px;
  border-radius: 20px;
  border: 1px solid;
  border-color: #5a5a5a;
  display: flex;
  position: relative;
}

.entrada-tala .search {
  position: relative;
  width: 24px;
  height: 24px;
}

.entrada-tala .vector {
  position: absolute;
  width: 17px;
  height: 17px;
  top: 3px;
  left: 3px;
}

.entrada-tala .buscar {
  position: relative;
  flex: 1;
  flex-grow: 1;
  height: 17px;
  background-color: transparent;
  font-family: "Regesto Grotesk-Bold", Helvetica;
  font-weight: 700;
  color: #5a5a5a;
  font-size: 14px;
  letter-spacing: 0;
  line-height: normal;
  border: 0;
  padding: 0;
}

.entrada-tala .buscar::placeholder {
  color: #5a5a5a99;
}

.entrada-tala .img {
  position: relative;
  flex: 1;
  min-width: 300px;
  max-width: 300px;
  flex-grow: 1;
}

.entrada-tala .body {
  display: flex;
  flex-direction: column;
  max-width: 1440px;
  align-items: center;
  gap: 40px;
  padding: 0px 50px;
  position: relative;
  width: 100%;
  flex: 0 0 auto;
}

.entrada-tala .frame-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 40px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.entrada-tala .div {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.entrada-tala .frame-2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.entrada-tala .text-wrapper {
  position: relative;
  align-self: stretch;
  margin-top: -1.00px;
  font-family: "Regesto Grotesk-Bold", Helvetica;
  font-weight: 700;
  color: #000000;
  font-size: 50px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.entrada-tala .hasta-a-os-de {
  position: relative;
  font-family: "Regesto Grotesk-Bold", Helvetica;
  font-weight: 700;
  color: transparent;
  font-size: 25px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.entrada-tala .span {
  color: #000000;
}

.entrada-tala .text-wrapper-2 {
  color: #4e9327;
}

.entrada-tala .billete-ok {
  position: relative;
  align-self: stretch;
  width: 100%;
  aspect-ratio: 1.78;
  object-fit: cover;
}

.entrada-tala .frame-3 {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 40px 40px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.entrada-tala .text-wrapper-3 {
  position: relative;
  flex: 1;
  margin-top: -1.00px;
  font-family: "Regesto Grotesk-Bold", Helvetica;
  font-weight: 700;
  color: #000000;
  font-size: 20px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.entrada-tala .frame-4 {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 60px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.entrada-tala .div-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.entrada-tala .frame-5 {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 36px 36px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.entrada-tala .frame-6 {
  display: flex;
  flex-direction: column;
  min-width: 340px;
  align-items: flex-start;
  gap: 30px;
  position: relative;
  flex: 1;
  flex-grow: 1;
}

.entrada-tala .frame-7 {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: center;
  gap: 30px 30px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.entrada-tala .fundamentales-para {
  position: relative;
  flex: 1;
  margin-top: -1.00px;
  font-family: "Regesto Grotesk-Bold", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 14px;
  letter-spacing: 0.14px;
  line-height: normal;
}

.entrada-tala .text-wrapper-4 {
  font-weight: 700;
  letter-spacing: 0.02px;
}

.entrada-tala .text-wrapper-5 {
  font-family: "Regesto Grotesk-Regular", Helvetica;
  letter-spacing: 0.02px;
}

.entrada-tala .p {
  position: relative;
  flex: 1;
  margin-top: -1.00px;
  font-family: "Regesto Grotesk-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 14px;
  letter-spacing: 0.14px;
  line-height: normal;
}

.entrada-tala .frame-8 {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 131px 131px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
  border-radius: 10px;
}

.entrada-tala .frame-9 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 25px;
  padding: 0px 20px;
  position: relative;
  flex: 1;
  flex-grow: 1;
}

.entrada-tala .text-wrapper-6 {
  position: relative;
  align-self: stretch;
  margin-top: -1.00px;
  font-family: "Regesto Grotesk-Bold", Helvetica;
  font-weight: 700;
  color: #4e9327;
  font-size: 30px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.entrada-tala .frame-10 {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: center;
  gap: 51px 0px;
  padding: 20px 0px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
  border-radius: 10px;
}

.entrada-tala .frame-11 {
  display: flex;
  flex-direction: column;
  min-width: 390px;
  align-items: center;
  gap: 25px;
  padding: 0px 20px;
  position: relative;
  flex: 1;
  flex-grow: 1;
}

.entrada-tala .frame-12 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.entrada-tala .frame-13 {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  padding: 20px 0px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
  border-radius: 10px;
}

.entrada-tala .frame-14 {
  flex-direction: column;
  align-items: flex-start;
  gap: 25px;
  flex: 1;
  flex-grow: 1;
  display: flex;
  position: relative;
}

.entrada-tala .text-wrapper-7 {
  position: relative;
  align-self: stretch;
  margin-top: -1.00px;
  font-family: "Regesto Grotesk-Bold", Helvetica;
  font-weight: 700;
  color: #000000;
  font-size: 30px;
  letter-spacing: 0;
  line-height: normal;
}

.entrada-tala .text-wrapper-8 {
  position: relative;
  align-self: stretch;
  margin-top: -1.00px;
  font-family: "Regesto Grotesk-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 12px;
  letter-spacing: 0;
  line-height: normal;
}

.entrada-tala .frame-15 {
  flex-direction: column;
  align-items: flex-start;
  gap: 25px;
  padding: 0px 20px;
  flex: 1;
  flex-grow: 1;
  display: flex;
  position: relative;
}

.entrada-tala .text-wrapper-9 {
  position: relative;
  align-self: stretch;
  font-family: "Regesto Grotesk-Bold", Helvetica;
  font-weight: 700;
  color: #000000;
  font-size: 20px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.entrada-tala .text-wrapper-10 {
  position: relative;
  align-self: stretch;
  font-family: "Regesto Grotesk-Bold", Helvetica;
  font-weight: 700;
  color: #4e9327;
  font-size: 30px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.entrada-tala .frame-16 {
  display: flex;
  max-width: 500px;
  align-items: center;
  justify-content: center;
  gap: 40px;
  position: relative;
  width: 100%;
  flex: 0 0 auto;
}

.entrada-tala .recurso {
  position: relative;
  width: 144px;
  height: 145px;
  aspect-ratio: 0.99;
  object-fit: cover;
}

.entrada-tala .text-wrapper-11 {
  position: relative;
  flex: 1;
  font-family: "Regesto Grotesk-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 14px;
  letter-spacing: 0.14px;
  line-height: normal;
}

.entrada-tala .text-wrapper-12 {
  position: relative;
  flex: 1;
  font-family: "Regesto Grotesk-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 14px;
  text-align: right;
  letter-spacing: 0.14px;
  line-height: normal;
}

.entrada-tala .recurso-2 {
  position: relative;
  max-width: 740px;
  width: 270.43px;
  max-height: 744.29px;
  height: 272px;
  aspect-ratio: 0.99;
  object-fit: cover;
}

.entrada-tala .text-wrapper-13 {
  position: relative;
  align-self: stretch;
  font-family: "Regesto Grotesk-Bold", Helvetica;
  font-weight: 700;
  color: #4e9327;
  font-size: 50px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.entrada-tala .frame-17 {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 105px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.entrada-tala .frame-18 {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 80px;
  padding: 0px 30px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.entrada-tala .boton {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 10px;
  position: relative;
  flex: 0 0 auto;
  background-color: #000000;
  border-radius: 10px;
}

.entrada-tala .leer-art-culo {
  position: relative;
  width: fit-content;
  margin-top: -1.00px;
  font-family: "Regesto Grotesk-Bold", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 15px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.entrada-tala .comando {
  display: flex;
  max-width: 1000px;
  align-items: center;
  justify-content: center;
  gap: 24px;
  padding: 0px 40px;
  position: relative;
  width: 100%;
  flex: 0 0 auto;
}

.entrada-tala .anterior {
  display: inline-flex;
  align-items: center;
  justify-content: flex-end;
  gap: 10px;
  padding: 10px;
  position: relative;
  flex: 0 0 auto;
  transition: all 0.2s ease;
}

.entrada-tala .anterior:hover {
  transform: scale(1.1);
}

.entrada-tala .vector-2 {
  position: relative;
  width: 7.41px;
  height: 12px;
}

.entrada-tala .text-wrapper-14 {
  position: relative;
  width: fit-content;
  margin-top: -1.00px;
  font-family: "Regesto Grotesk-Regular", Helvetica;
  font-weight: 400;
  color: #96134b;
  font-size: 14px;
  letter-spacing: 0;
  line-height: normal;
}

.entrada-tala .siguiente {
  display: inline-flex;
  align-items: center;
  gap: 10px;
  padding: 10px;
  position: relative;
  flex: 0 0 auto;
  transition: all 0.2s ease;
}

.entrada-tala .siguiente:hover {
  transform: scale(1.1);
}

.entrada-tala .text-wrapper-15 {
  position: relative;
  width: fit-content;
  margin-top: -1.00px;
  font-family: "Regesto Grotesk-Regular", Helvetica;
  font-weight: 400;
  color: #96134b;
  font-size: 14px;
  text-align: right;
  letter-spacing: 0;
  line-height: normal;
}

.entrada-tala .frame-19 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 15px;
  padding: 80px 0px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
  border-radius: 20px;
  background-image: url(./img/frame-46.svg);
  background-size: cover;
  background-position: 50% 50%;
}

.entrada-tala .frame-20 {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.entrada-tala .text-wrapper-16 {
  position: relative;
  align-self: stretch;
  margin-top: -1.00px;
  font-family: "Regesto Grotesk-Bold", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 45px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.entrada-tala .text-wrapper-17 {
  position: relative;
  align-self: stretch;
  font-family: "Regesto Grotesk-Bold", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 20px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.entrada-tala .frame-21 {
  display: flex;
  flex-wrap: wrap;
  max-width: 390px;
  align-items: center;
  justify-content: center;
  gap: 10px 10px;
  padding: 0px 20px;
  position: relative;
  width: 100%;
  flex: 0 0 auto;
}

.entrada-tala .frame-22 {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 10px 20px;
  position: relative;
  flex: 1;
  flex-grow: 1;
  background-color: #ffffff;
  border-radius: 10px;
  border: 1px solid;
  border-color: #d9d9d9;
}

.entrada-tala .text-wrapper-18 {
  position: relative;
  width: fit-content;
  margin-top: -1.00px;
  font-family: "Regesto Grotesk-Bold", Helvetica;
  font-weight: 700;
  color: #5a5a5a;
  font-size: 14px;
  letter-spacing: 0;
  line-height: normal;
}

.entrada-tala .frame-23 {
  display: flex;
  width: 105px;
  align-items: center;
  gap: 10px;
  padding: 10px 20px;
  position: relative;
  background-color: #000000;
  border-radius: 10px;
}

.entrada-tala .text-wrapper-19 {
  position: relative;
  width: fit-content;
  margin-top: -1.00px;
  font-family: "Regesto Grotesk-Bold", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 14px;
  letter-spacing: 0;
  line-height: normal;
}

.entrada-tala .footer {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  gap: 20px 0px;
  padding: 40px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
  background-color: #ffffff;
}

.entrada-tala .recurso-3 {
  position: relative;
  max-width: 290px;
  width: 290px;
  max-height: 59.76px;
  height: 59.76px;
  aspect-ratio: 4.85;
  object-fit: cover;
}

.entrada-tala .text-wrapper-20 {
  position: relative;
  width: fit-content;
  font-family: "Regesto Grotesk-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 14px;
  letter-spacing: 0;
  line-height: normal;
}
